html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  background-color: black;

  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  line-height: 1.2em;
}

.background-img-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  animation: animatedBackground 2s ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes animatedBackground {
  0% {
    filter: blur(0) opacity(0.9);
  }
  33% {
    filter: blur(0) opacity(0.9);
  }
  100% {
    filter: blur(4px) opacity(0.4);
  }
}

h1,
header,
main {
  animation: animateText 2s ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes animateText {
  0% {
    filter: blur(4px) opacity(0);
  }
  20% {
    filter: blur(4px) opacity(0);
  }
  100% {
    filter: blur(0) opacity(1);
  }
}

.content-block-link {
  cursor: pointer;
}

header {
  z-index: 2;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1em 0 1em;
}

.hamburger {
  display: none;

  padding: 0.5em;
  cursor: pointer;
}

.header-content {
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  .hamburger {
    display: block;
  }

  .header-content {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    display: none;
    width: 10em;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    background-color: black;
  }

  .nav-ul {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: xx-large;
  }
}

.nav-ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-ul-span {
  cursor: pointer;
}

#nav-li-live-acts {
  display: block;
  position: relative;
}

#nav-ul-ul-live-acts {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  display: none;
  padding: 0;
  margin: 0;

  white-space: nowrap;
  background-color: black;
  font-size: large;
}

#nav-li-live-acts:hover #nav-ul-ul-live-acts {
  display: block;
}

.nav-li {
  cursor: pointer;
  list-style-type: none;
  padding: 0.5em;
}

.nav-li:hover {
  color: rgba(255, 255, 255, 0.8);
}

#nav-ul-ul-live-acts {
  color: white;
}

#nav-ul-ul-live-acts > .nav-li {
  padding-left: 0.75em;
  padding-right: 1em;
}

#nav-ul-ul-live-acts > .nav-li:first-child {
  padding-top: 1em;
}

#nav-ul-ul-live-acts > *:last-child {
  padding-bottom: 1em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: large;
}

.content-block {
  display: none;
  max-width: 30em;
  padding: 1em;
}

.text-link {
  color: white;
  background-color: black;
  padding: 0.2em;
}

.text-link:hover {
  color: black;
  background-color: white;
}

.img-link {
  margin: 1em;
}

@media (max-width: 600px) {
  .img-link {
    display: none;
  }
}

.small-img {
  width: 7em;
  height: 7em;
}

.row {
  display: flex;
}

#philosophy-link {
  text-decoration: overline;
}

#philosophy {
  display: block;
}

#page-title-container {
  width: 100%;
}

#page-title {
  margin: 0;
  padding: 0 0 0 1.2em;

  font-size: x-large;
  text-align: left;
}
